---
import { getCollection } from "astro:content";
import Layout from "../components/GlobalLayout.astro";
import { Icon } from "astro-icon/components";

let posts = await getCollection("blog");
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout>
  <div class="w-full flex align-middle items-center justify-center">
    <main class="prose pt-2 px-4 w-full md:w-2/3 lg:w-1/2">
      <a href="/rss.xml" title="RSS Feed" class="absolute right-2 top-2">
        <Icon name="tabler:rss" class="w-6" />
      </a>
      <div class="w-full flex justify-center"></div>
      <div class="list-none p-0">
        {
          posts.map((post) => (
            <section class="prose-headings:m-0">
              <div class="flex align-baseline justify-between">
                <h2 class="font-bold"><a class="no-underline" href={`/blog/${post.id}`}>{post.data.title}</a></h2>
                <div class="font-light">
                  {post.data.date.toLocaleDateString()}
                </div>
              </div>
              <summary class="">{post.data.description}</summary>
              <a
                class="hover:text-accent group transition-colors"
                href={`/blog/${post.id}`}
                data-astro-prefetch
              >
                Check it out
                <span class="inline-block transition-transform group-hover:translate-x-1">
                  →
                </span>
              </a>
            </section>
            <div class="divider"></div>
          ))
        }
      </div>
    </main>
  </div>
</Layout>
